@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

#scroll::-webkit-scrollbar {
  width: 1em;
  height: 3px;
  background-color: rgb(108, 114, 117);
  border-radius: 5px;
}

#scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scroll::-webkit-scrollbar-thumb {
  background-color: rgb(20, 23, 24);
  outline: 1px solid rgb(108, 114, 117);
  border-radius: 5px;
}

@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.fade-in-card {
  animation: fadeInCard 1s ease-in-out;
}